@charset "UTF-8";
/* CSS Document */

html {font-size: 100%;} /*16px*/

body {
  background-color:#F2E4DC;
  color: #202426;
  margin: 0;
  padding: 50px;
  line-height: 1.75;
  align-content: center
}
h1 {

  font-size: 10em;
  color: #BF7E78;
  align-content: center
}

h2 {font-size: 2em;
	color: #8C593B;
	

}
h3{color:#A67C58;
	
}
h4 {font-size: 1.5em;
	color: #D9BBA0;
margin-top: 0;

}

dt {
	font-size: 2em;
	font-weight: bold;
}
