@charset "UTF-8";
/* CSS Document */
body {
  background-color: #BFBFB8;
  color: #202426;
  margin: 0;
  padding: 50px;
  line-height: 1.75;
  align-content: center
}
h1{
 font-size: 10em;
  color: #232625;
align-content: center;
font-family: "club-lithographer", sans-serif; 
	
font-weight: 400;
font-style: italic;
}
h2{
	font-size: 3em;
	color:#35403A;
	font-family: "anona", sans-serif;
font-weight: 700;
font-style: normal;
}
h3{
	color:#4C594F;
}