@charset "UTF-8";
/* CSS Document */


body {background-color: #F2F2F2;
	margin: 62px 139px;
     }

	h1{
	font-family: "forma-djr-display", sans-serif;
	font-weight: 700;
	font-style: italic;
	color: #401A0D;
	text-align: center;
	font-size: 10em;
}
	h2{
		font-family: "forma-djr-display", sans-serif;
		font-weight: 600;
		font-style: normal;
		color:#D97D48;
	}
	h3{
		font-family: "forma-djr-display", sans-serif;
		font-weight: 600;
		font-style: normal;
		color:#A64B29;
	}
	p{
		font-family: "forma-djr-display", sans-serif;
font-weight: 500;
font-style: normal;
		color:#D97D48;
	}
